In [1]:
import pandas as pd

In [36]:
linescores = pd.read_csv("./raw_data/reduced/match_line_scores.csv", sep = ",", parse_dates = ['game_date'])

In [39]:
linescores

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21996,1610612747,LAL,Los Angeles Lakers,29600012,1996-11-01,LAL vs. PHX,W,240,31.0,...,36.0,21.0,11.0,4.0,12.0,25.0,82.0,-14,0,Regular Season
1,21996,1610612748,MIA,Miami Heat,29600005,1996-11-01,MIA vs. ATL,W,240,35.0,...,40.0,13.0,10.0,7.0,24.0,20.0,81.0,-13,0,Regular Season
2,21996,1610612751,NJN,New Jersey Nets,29600002,1996-11-01,NJN vs. CLE,L,240,23.0,...,35.0,16.0,10.0,1.0,15.0,24.0,90.0,13,0,Regular Season
3,21996,1610612744,GSW,Golden State Warriors,29600013,1996-11-01,GSW vs. LAC,L,240,27.0,...,49.0,21.0,7.0,2.0,20.0,27.0,97.0,12,0,Regular Season
4,21996,1610612745,HOU,Houston Rockets,29600009,1996-11-01,HOU vs. SAC,W,240,34.0,...,40.0,18.0,11.0,8.0,27.0,24.0,85.0,-11,0,Regular Season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28016,42022,1610612738,BOS,Boston Celtics,42200307,2023-05-29,BOS vs. MIA,L,240,32.0,...,42.0,26.0,7.0,2.0,14.0,15.0,103.0,19,1,Playoffs
28017,42022,1610612743,DEN,Denver Nuggets,42200401,2023-06-01,DEN vs. MIA,W,240,40.0,...,43.0,26.0,5.0,4.0,8.0,15.0,93.0,-11,1,Playoffs
28018,42022,1610612743,DEN,Denver Nuggets,42200402,2023-06-04,DEN vs. MIA,L,240,39.0,...,31.0,28.0,5.0,4.0,11.0,22.0,111.0,3,1,Playoffs
28019,42022,1610612748,MIA,Miami Heat,42200403,2023-06-07,MIA vs. DEN,L,240,34.0,...,58.0,28.0,3.0,5.0,14.0,18.0,109.0,15,1,Playoffs
28020,42022,1610612748,MIA,Miami Heat,42200404,2023-06-09,MIA vs. DEN,L,240,35.0,...,34.0,26.0,11.0,7.0,8.0,18.0,108.0,13,1,Playoffs

In [6]:
seasons = linescores['season_id'].unique()

In [11]:
nba_seasons = pd.DataFrame(columns=['season_id', 'date_start', 'date_end'])

In [12]:
for season_id in seasons:
    season_df = linescores[linescores['season_id']==season_id]
    
    min_date = season_df['game_date'].min()
    max_date = season_df['game_date'].max()
    
    temp_data = {'season_id': season_id, 'date_start': min_date, 'date_end': max_date}
    
    # Append the dictionary to the list
    nba_seasons = nba_seasons.append(temp_data, ignore_index=True)

In [17]:
nba_seasons.to_csv("./raw_data/reduced/nba_seasons.csv", index=False)

In [27]:
nba_seasons

   season_id date_start   date_end
0      21996 1996-11-01 1997-04-20
1      41996 1997-04-24 1997-06-13
2      21997 1997-10-31 1998-04-19
3      41997 1998-04-23 1998-06-14
4      21998 1999-02-05 1999-05-05
5      41998 1999-05-08 1999-06-25
6      21999 1999-11-02 2000-04-19
7      22000 2000-10-31 2001-04-18
8      42000 2001-04-21 2001-06-15
9      22001 2001-10-30 2002-04-17
10     22003 2003-10-28 2004-04-14
11     42003 2004-04-17 2004-06-15
12     22004 2004-11-02 2005-04-20
13     42004 2005-04-23 2005-06-23
14     22005 2005-11-01 2006-04-19
15     22006 2006-10-31 2007-04-18
16     42006 2007-04-21 2007-06-14
17     22007 2007-10-30 2008-04-16
18     42007 2008-04-19 2008-06-17
19     22008 2008-10-28 2009-04-15
20     42008 2009-04-18 2009-06-14
21     22009 2009-10-27 2010-04-14
22     42009 2010-04-17 2010-06-15
23     22010 2010-10-26 2011-04-13
24     42010 2011-04-16 2011-06-12
25     22011 2011-12-25 2012-04-26
26     42011 2012-04-28 2012-06-19
27     42012 2013-04-20 2013-06-20
28     22013 2013-10-29 2014-04-16
29     42013 2014-04-19 2014-06-15
30     22014 2014-10-28 2015-04-15
31     42014 2015-04-18 2015-06-16
32     22015 2015-10-27 2016-04-13
33     42015 2016-04-16 2016-06-19
34     22016 2016-10-25 2017-04-12
35     42016 2017-04-15 2017-06-12
36     22017 2017-10-17 2018-04-11
37     42017 2018-04-14 2018-06-08
38     22018 2018-10-16 2019-04-10
39     42018 2019-04-13 2019-06-13
40     22019 2019-10-22 2020-08-14
41     42019 2020-08-17 2020-10-11
42     22020 2020-12-22 2021-05-16
43     42020 2021-05-22 2021-07-20
44     22021 2021-10-19 2022-04-10
45     42021 2022-04-16 2022-06-16
46     22022 2022-10-18 2023-04-09
47     42022 2023-04-15 2023-06-09

In [21]:
player_stats = pd.read_csv("./raw_data/reduced/player_statistics.csv", sep = ",", parse_dates = ['date'])

In [29]:
def get_season_id(date):
    season_id = nba_seasons[(date >= nba_seasons['date_start']) & (date <= nba_seasons['date_end'])]['season_id']
    return season_id.values[0] if not season_id.empty else None

In [30]:
player_stats['season'] = player_stats['date'].apply(get_season_id)

In [35]:
player_stats.to_csv("./raw_data/reduced/player_statistics.csv", index=False)

In [40]:
player_stats['type'].unique()

array(['regular', 'playoff'], dtype=object)